body {
  margin: 0;
  font-family: cursive;
}

h1 {
  text-align: center;
  font-size: 30px;
}

.contain {
  padding: 40px;
  width: 100%;
}

.color-box {
  height: 150px;
  width: 300px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}